<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950668976776-153fsouhur4gi9822iolqe23c6jkha1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950668976776-153fsouhur4gi9822iolqe23c6jkha1l</string>
	<key>API_KEY</key>
	<string>AIzaSyB-4AH0MCqkqtqgvTnAG_7GjslnKdu3S9k</string>
	<key>GCM_SENDER_ID</key>
	<string>950668976776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Erin.RideAlong</string>
	<key>PROJECT_ID</key>
	<string>ridealong-a0f98</string>
	<key>STORAGE_BUCKET</key>
	<string>ridealong-a0f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:950668976776:ios:313914e5180a6315</string>
	<key>DATABASE_URL</key>
	<string>https://ridealong-a0f98.firebaseio.com</string>
</dict>
</plist>
